@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.logo {
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid red; */
    text-align: left;
    max-width: 15%;
}

.logo h1 {
    color: #2b0b79;
    font-size: 35px;
    font-family: "Poppins", sans-serif;
}

.menu {
    flex: 70%;
    /* border: 1px solid green; */
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #2b0b79;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    font-family: "poppins", sans-serif;
    padding: 20px 16px;
}

.menu a:hover {
    color: #515062;
    border-top: 5px solid #2b0b79;
}

#botao {
    background: #2b0b79;
    padding: 10px 25px;
    color: aliceblue;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover {
    border: none;
    background-color: #515062;
}

header {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    padding-top: 110px;
    background: white;
    justify-content: center;
    align-items: center;
}

.headline {
    margin-left: 10%;
    flex: 35%;
    /* margin-top: 5%; */
    /* border: 1px solid red; */
}

.headline h2 {
    font-family: "poppins", sans-serif;
    font-weight: 750;
    font-size: 20px;
    color: #2b0b79;
    padding: 0;
    margin: 0;
}

.headline p {
    color: #33333e;
    text-align: left;
    font-size: 29px;
    font-family: sans-serif;
}

/*BOTÃO 1*/
.contact-btn {
    display: inline-block;
    background-color: #515062;
    width: 360px;
    padding: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.contact-btn:hover {
    background: #2b0b79;
}

.img-headline {
    margin-right: 10%;
    margin-left: 1%;
    flex: 40%;
    /* border: 1px solid pink; */
    text-align: center;
}

main {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 2%;
    width: 90%;
}

main h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    color: #2b0b79;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    /* border: 1.5px solid #515062; */
    font-size: 22px;
    font-family: "poppins", sans-serif;
}

.card h3 {
    font-size: 20px;
}

.card p {
    text-align: center;
}

/*BOTÃO 2*/
.contact-botao {
    display: inline-block;
    background-color: #515062;
    width: 360px;
    padding: 20px;
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-botao:hover {
    background: #2b0b79;
}

.abt_us {
    display: inline-block;
    flex: 50%;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    /* border: 1px solid black; */
}

.sobre {
    display: inline-block;
    flex: 30%;
    /* border: 1px solid red; */
}

section {
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
    border: 5px solid #f8f8ff;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    width: 90%;
    background: #f8f8ff;
    overflow: scroll;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre img {
    max-width: 60%;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "poppins", sans-serif;
    font-weight: bold;
    color: #2b0b79;
}

section p {
    font-size: 30px;
    color: #33333e;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    text-align: left;
}

section span {
    font-weight: 490;
    color: #2b0b79;
}

.pai_btn {
    display: flex;
    justify-content: center;
}

.btn_3 {
    /*BOTÃO 3*/
    background-color: #515062;
    width: 360px;
    padding: 20px;
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.btn_3:hover {
    background: #2b0b79;
}

.mapa-p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maps {
    border: 2px solid #515062;
}

footer {
    margin-top: auto;
    height: 200px;
    background-image: linear-gradient(180deg, white, grey);
    text-align: center;
    border-top: 5px solid #515062;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.footer-left,
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer-left {
    align-items: center;
    text-align: center;
}

.footer-right {
    text-align: left;
}

footer a {
    text-decoration: none;
}

.agencia {
    font-family: 'Poppins', sans-serif;
    color: #515062;
    font-size: 45px;
}

footer p {
    font-family: "Poppins", sans-serif;
    color: #2b0b79;
}


.img1 {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

@media screen and (max-width: 1400px) {
    .menu {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .logo {
        margin: 0;
        text-align: center;
        max-width: 30%;
    }

    .span {
        display: none;
    }

    header {
        padding-top: 50px;
        text-align: center;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img-headline {
        display: none;
    }

    main {
        margin-top: 110px;
    }

    main .card {
        width: 47%;
        /* Alterando para exibir dois cards por linha */
    }

    .card p {
        display: none;
    }


    section img {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 20px;
        box-sizing: border-box;
    }

    section h2 {
        text-align: center;
        font-size: 30px;
        margin: 20px 0;
        width: 90%;
    }

    section p {
        font-size: 18px;
        text-align: center;
        margin: 10px 0;
    }

    .abt_us {
        width: 100%;
    }

    footer {
        position: absolute;
        margin-bottom: 0;
        width: 100%;
        margin-top: 0;
    }

    .img1 {
        display: none;
    }
}



@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        align-items: center;
        text-align: center;
    }

    .footer-right {
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }

    .logo {
        max-width: 60%;
    }

    header {
        padding-top: 90px;
    }

    header p {
        display: none;
    }

    .headline {
        flex: 100%;
        margin: 5;
        /* Reduzindo as margens */
    }

    .headline h2 {
        color: #33333e;
        margin: 2px;
    }

    .contact-btn {
        margin-top: 10px;
        background-color: #2b0b79;
    }

    main .card {
        margin-right: 1%;
    }

    main h2 {
        color: #33333e;
        margin: 0;
    }

    .contact-botao {
        background: #2b0b79;
        width: 250px;
        padding: 10px 25px;
        color: aliceblue;
        border-radius: 5px;
    }


    section {
        width: 90%;
    }

    section h2 {
        text-align: left;
        font-size: 30px;
        margin-right: 10%;
    }

    section p {
        width: 100%;
        font-size: 16px;
        text-align: left;
        margin-left: 1%;
        margin-right: 20%;
    }

    .pai_btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    iframe {
        width: 100%;
    }

    .maps {
        border-radius: 5px;
    }

    footer {
        height: 280px;
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        align-items: center;
        text-align: center;
    }

    .footer-right {
        margin-top: 20px;
    }

    .footer-right span {
        display: none;
    }
}
